USE [QUANLYCAFE]
GO
/****** Object:  Table [dbo].[DANHMUCSANPHAM]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSANPHAM](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACHBAN]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHBAN](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[TINHTRANG] [int] NULL,
	[ID_DATBAN] [int] NULL,
	[ID_HOADON] [int] NULL,
 CONSTRAINT [PK__DANHSACH__3214EC272DC39117] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACHSANPHAM]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHSANPHAM](
	[ID] [varchar](10) NOT NULL,
	[LOAISANPHAM] [varchar](10) NULL,
	[TEN] [nvarchar](100) NULL,
	[GIATIEN] [int] NULL,
	[EVENT] [int] NULL,
	[MOTA] [nvarchar](100) NULL,
	[IMAGE_PATH] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[MOTA] [nvarchar](100) NULL,
	[GIAMGIA] [int] NULL,
	[THOIGIANBATDAU] [datetime] NULL,
	[THOIGIANKETTHUC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HETHONG]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HETHONG](
	[ID] [int] NOT NULL,
	[TENCUAHANG] [nvarchar](200) NULL,
	[DIACHICUAHANG] [nvarchar](200) NULL,
	[LUONG_PARTTIME] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATBAN] [int] NULL,
	[VOUCHER] [varchar](50) NULL,
	[NHANVIEN] [varchar](100) NULL,
	[THANHTIEN] [int] NULL,
	[THANHTIENGIAMGIA] [int] NULL,
	[THANHTOAN] [int] NULL,
	[THOIGIAN_TAO] [datetime] NULL,
	[THOIGIAN_THANHTOAN] [datetime] NULL,
	[KHACHTRA] [int] NULL,
	[TIENTHUA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUCA]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](100) NULL,
	[THOIGIANVAOCA] [datetime] NULL,
	[THOIGIANRACA] [datetime] NULL,
	[TONGGIOLAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDATBAN]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDATBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAN] [varchar](10) NULL,
	[THOIGIANVAOBAN] [datetime] NULL,
	[THOIGIANRABAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUORDER]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DATBAN] [int] NULL,
	[ID_SANPHAM] [varchar](10) NULL,
	[DONGIA] [int] NULL,
	[DONGIAGIAM] [int] NULL,
	[SOLUONG] [int] NULL,
	[THOIGIAN] [datetime] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK__LICHSUOR__3214EC274C7B616F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTHANHTOANCA]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTHANHTOANCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](100) NULL,
	[THOIGIAN] [date] NULL,
	[TONGGIOLAM] [int] NULL,
	[THOIGIAN_THANHTOAN] [datetime] NULL,
	[TONGTIEN] [int] NULL,
	[THANHTOAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYENHAN]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYENHAN](
	[ID] [int] NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[FIRSTNAME] [nvarchar](100) NULL,
	[LASTNAME] [nvarchar](100) NULL,
	[PHONE] [varchar](15) NULL,
	[CCCD] [varchar](12) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[QUYENHAN] [int] NULL,
	[THOIGIAN_TAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 12/5/2022 8:26:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[MA] [varchar](50) NOT NULL,
	[GIAMGIA] [int] NULL,
	[MOTA] [nvarchar](100) NULL,
	[LUOTNHAP] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANHMUCSANPHAM] ([ID], [TEN]) VALUES (N'DOAN', N'Đồ Ăn')
INSERT [dbo].[DANHMUCSANPHAM] ([ID], [TEN]) VALUES (N'KHAC', N'Khác')
INSERT [dbo].[DANHMUCSANPHAM] ([ID], [TEN]) VALUES (N'THUCUONG', N'Thức Uống')
GO
INSERT [dbo].[DANHSACHBAN] ([ID], [TEN], [TINHTRANG], [ID_DATBAN], [ID_HOADON]) VALUES (N'BAN0001', N'Bàn 1', 0, NULL, NULL)
INSERT [dbo].[DANHSACHBAN] ([ID], [TEN], [TINHTRANG], [ID_DATBAN], [ID_HOADON]) VALUES (N'BAN0002', N'Bàn 2', 0, NULL, NULL)
INSERT [dbo].[DANHSACHBAN] ([ID], [TEN], [TINHTRANG], [ID_DATBAN], [ID_HOADON]) VALUES (N'BAN0003', N'Bàn 3', 0, NULL, NULL)
GO
INSERT [dbo].[DANHSACHSANPHAM] ([ID], [LOAISANPHAM], [TEN], [GIATIEN], [EVENT], [MOTA], [IMAGE_PATH]) VALUES (N'DA0001', N'DOAN', N'Mì trộn xúc xích chiên', 25000, NULL, N'Mì trộn xúc xích chiên', N'D:\C#\DOAN\CUOIKY\QUANLYCAFE_IMAGES\DA0001.png')
INSERT [dbo].[DANHSACHSANPHAM] ([ID], [LOAISANPHAM], [TEN], [GIATIEN], [EVENT], [MOTA], [IMAGE_PATH]) VALUES (N'DA0002', N'DOAN', N'Bánh bao trứng cút', 25000, NULL, N'Bánh bao trứng cút', N'D:\C#\DOAN\CUOIKY\QUANLYCAFE_IMAGES\DA0002.png')
INSERT [dbo].[DANHSACHSANPHAM] ([ID], [LOAISANPHAM], [TEN], [GIATIEN], [EVENT], [MOTA], [IMAGE_PATH]) VALUES (N'DA0003', N'DOAN', N'Bánh mì ốp la', 20000, NULL, N'Bánh mì ốp la', N'D:\C#\DOAN\CUOIKY\QUANLYCAFE_IMAGES\DA0003.png')
GO
SET IDENTITY_INSERT [dbo].[EVENT] ON 

INSERT [dbo].[EVENT] ([ID], [TEN], [MOTA], [GIAMGIA], [THOIGIANBATDAU], [THOIGIANKETTHUC]) VALUES (7, N'Khai trương', N'Khai trương giảm giá', 10, CAST(N'2022-12-05T10:32:10.000' AS DateTime), CAST(N'2022-12-31T10:31:10.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EVENT] OFF
GO
INSERT [dbo].[HETHONG] ([ID], [TENCUAHANG], [DIACHICUAHANG], [LUONG_PARTTIME]) VALUES (1, N'T''S Cafe Việt Nam', N'113 Street - 5 District - Ho Chi Minh City', 20000)
GO
INSERT [dbo].[QUYENHAN] ([ID], [TEN], [MOTA]) VALUES (1, N'Nhân Viên', N'Nhân viên quản lý cửa hàng')
INSERT [dbo].[QUYENHAN] ([ID], [TEN], [MOTA]) VALUES (2, N'Quản Lý', N'Quản lý cửa hàng')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [FIRSTNAME], [LASTNAME], [PHONE], [CCCD], [ADDRESS], [QUYENHAN], [THOIGIAN_TAO]) VALUES (N'admin', N'$2a$11$fAXgu1qqqnXCHhYmJlfVKeRmXKqsIRcdnrlOD532TrNtee87EYzZe', N'Le', N'Thinh', N'123456789', N'123456789', N'Viet Nam', 2, CAST(N'2022-12-03T22:31:39.010' AS DateTime))
GO
INSERT [dbo].[VOUCHER] ([MA], [GIAMGIA], [MOTA], [LUOTNHAP], [SOLUONG]) VALUES (N'VOUCHER', 10, N'voucher', 0, 100)
GO
ALTER TABLE [dbo].[DANHSACHBAN] ADD  CONSTRAINT [DF__DANHSACHB__TINHT__35BCFE0A]  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[DANHSACHSANPHAM] ADD  DEFAULT ((0)) FOR [GIATIEN]
GO
ALTER TABLE [dbo].[EVENT] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[EVENT] ADD  DEFAULT (getdate()) FOR [THOIGIANBATDAU]
GO
ALTER TABLE [dbo].[HETHONG] ADD  DEFAULT ((0)) FOR [LUONG_PARTTIME]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [THANHTIENGIAMGIA]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [THANHTOAN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [THOIGIAN_TAO]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [KHACHTRA]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TIENTHUA]
GO
ALTER TABLE [dbo].[LICHSUCA] ADD  DEFAULT (getdate()) FOR [THOIGIANVAOCA]
GO
ALTER TABLE [dbo].[LICHSUCA] ADD  DEFAULT ((0)) FOR [TONGGIOLAM]
GO
ALTER TABLE [dbo].[LICHSUDATBAN] ADD  DEFAULT (getdate()) FOR [THOIGIANVAOBAN]
GO
ALTER TABLE [dbo].[LICHSUORDER] ADD  CONSTRAINT [DF__LICHSUORD__GIATI__5441852A]  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[LICHSUORDER] ADD  CONSTRAINT [DF_LICHSUORDER_DONGIAGIAM]  DEFAULT ((0)) FOR [DONGIAGIAM]
GO
ALTER TABLE [dbo].[LICHSUORDER] ADD  CONSTRAINT [DF__LICHSUORD__SOLUO__571DF1D5]  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[LICHSUORDER] ADD  CONSTRAINT [DF__LICHSUORD__THOIG__5629CD9C]  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[LICHSUORDER] ADD  CONSTRAINT [DF_LICHSUORDER_THANHTIEN]  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOANCA] ADD  DEFAULT (CONVERT([date],getdate())) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOANCA] ADD  DEFAULT ((0)) FOR [TONGGIOLAM]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOANCA] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOANCA] ADD  DEFAULT ((0)) FOR [THANHTOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [THOIGIAN_TAO]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  CONSTRAINT [DF_VOUCHER_LUOTNHAP]  DEFAULT ((0)) FOR [LUOTNHAP]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  CONSTRAINT [DF_VOUCHER_SOLUONG]  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[DANHSACHBAN]  WITH CHECK ADD FOREIGN KEY([ID_DATBAN])
REFERENCES [dbo].[LICHSUDATBAN] ([ID])
GO
ALTER TABLE [dbo].[DANHSACHBAN]  WITH CHECK ADD FOREIGN KEY([ID_HOADON])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[DANHSACHSANPHAM]  WITH CHECK ADD  CONSTRAINT [EVENT_FK] FOREIGN KEY([EVENT])
REFERENCES [dbo].[EVENT] ([ID])
GO
ALTER TABLE [dbo].[DANHSACHSANPHAM] CHECK CONSTRAINT [EVENT_FK]
GO
ALTER TABLE [dbo].[DANHSACHSANPHAM]  WITH CHECK ADD FOREIGN KEY([LOAISANPHAM])
REFERENCES [dbo].[DANHMUCSANPHAM] ([ID])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID_DATBAN])
REFERENCES [dbo].[LICHSUDATBAN] ([ID])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([NHANVIEN])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([VOUCHER])
REFERENCES [dbo].[VOUCHER] ([MA])
GO
ALTER TABLE [dbo].[LICHSUCA]  WITH CHECK ADD FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[LICHSUDATBAN]  WITH CHECK ADD FOREIGN KEY([ID_BAN])
REFERENCES [dbo].[DANHSACHBAN] ([ID])
GO
ALTER TABLE [dbo].[LICHSUORDER]  WITH CHECK ADD  CONSTRAINT [FK__LICHSUORD__ID_DA__52593CB8] FOREIGN KEY([ID_DATBAN])
REFERENCES [dbo].[LICHSUDATBAN] ([ID])
GO
ALTER TABLE [dbo].[LICHSUORDER] CHECK CONSTRAINT [FK__LICHSUORD__ID_DA__52593CB8]
GO
ALTER TABLE [dbo].[LICHSUORDER]  WITH CHECK ADD  CONSTRAINT [FK__LICHSUORD__ID_SA__534D60F1] FOREIGN KEY([ID_SANPHAM])
REFERENCES [dbo].[DANHSACHSANPHAM] ([ID])
GO
ALTER TABLE [dbo].[LICHSUORDER] CHECK CONSTRAINT [FK__LICHSUORD__ID_SA__534D60F1]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOANCA]  WITH CHECK ADD FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([QUYENHAN])
REFERENCES [dbo].[QUYENHAN] ([ID])
GO
